body {
    text-align: center;
    background-color: blueviolet;
}
p1 {
    font-size: 30px;
    color: rgb(255, 0, 0);
}
p2 {
    font-size: 30px;
    color: rgb(0, 233, 250);
}
p3 {
    font-size: 30px;
    color: rgb(252, 230, 91);
}
p4 {
    font-size: 30px;
    color: rgb(0, 246, 156);
}
p5 {
    font-size: 30px;
    color: rgb(142, 237, 99);
}